/* CARDS */
.card {
    border: 1px black solid;
    box-shadow: 3px 4px black;
    width: 90%;
    margin: auto;
}

.limiteCard{
    max-width: 1400px;
    margin: auto;
}

.cuadroForm {
    border: 2px black solid;
    background-color: whitesmoke;
}