/* FORM */
#textomain {
  padding-top: 10px;
  background-color: #666666;
  color: white;
  border-radius: 25px;
  margin-bottom: 30px;
}

#textomain2 {
  padding-top: 10px;
  background-color: #666666;
  color: white;
  border-radius: 25px;
  margin-bottom: 30px;
}

#alinear {
  align-items: center;
  text-align: center;
}

.formularioTitulo {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px black;
}

.caja {
  width: 65%;
}